<a href="https://colab.research.google.com/github/Emmaanuelle/AnalisededadoscomPythonePandas/blob/master/aula8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#importando as bibliotecas
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use("seaborn")

In [4]:
#uploand do arquivo
from google.colab import files
arq = files.upload()

In [6]:
#craindo um data frame
df = pd.read_excel("AdventureWorks.xlsx")

In [7]:
df. head()

  Data Venda Data Envio  ID Loja  ...            Marca   Classe  Cor
0 2008-05-09 2008-05-29      199  ...  Adventure Works  Regular  Red
1 2008-05-12 2008-05-17      306  ...  Adventure Works  Regular  Red
2 2008-05-14 2008-05-20      306  ...  Adventure Works  Regular  Red
3 2008-05-21 2008-05-27      306  ...  Adventure Works  Regular  Red
4 2008-06-20 2008-06-27      306  ...  Adventure Works  Regular  Red

[5 rows x 16 columns]

In [8]:
#Quantidade de linhas e colunas
df.shape

(904, 16)

In [9]:
#verificando os tipos de dados
df.dtypes

Data Venda        datetime64[ns]
Data Envio        datetime64[ns]
ID Loja                    int64
ID Produto                 int64
ID Cliente                 int64
No. Venda                 object
Custo Unitário           float64
Preço Unitário           float64
Quantidade                 int64
Valor Desconto           float64
Valor Venda              float64
Produto                   object
Fabricante                object
Marca                     object
Classe                    object
Cor                       object
dtype: object

In [10]:
#Qual a recieta total
df["Valor Venda"].sum()

5984606.1426

In [18]:
#Custo 
df["Custo"] = df["Custo Unitário"].mul(df["Quantidade"]) # criando a coluna de custo

In [19]:
df.head(1)

  Data Venda Data Envio  ID Loja  ...  Custo Total   Custo     Custo
0 2008-05-09 2008-05-29      199  ...      2091.48  2091.48  2091.48

[1 rows x 19 columns]

In [20]:
#custo total
round(df["Custo"].sum(), 2)

2486783.05

In [22]:
#Lucro total
# criar uma coluna de lucro que será receita- custo
df["lucro"] = df["Valor Venda"] - df["Custo"]

In [23]:
df.head(1)

  Data Venda Data Envio  ID Loja  ...   Custo     Custo    lucro
0 2008-05-09 2008-05-29      199  ...  2091.48  2091.48  2456.52

[1 rows x 20 columns]

In [24]:
#lucro total
round(df["lucro"].sum(), 2)

3497823.09

In [25]:
#criando uma coluna com total de dias para enviar o produto
df["tempo_envio"] = df["Data Envio"] - df["Data Venda"]

In [26]:
df.head(1)

  Data Venda Data Envio  ID Loja  ...    Custo    lucro tempo_envio
0 2008-05-09 2008-05-29      199  ...  2091.48  2456.52     20 days

[1 rows x 21 columns]

In [ ]:
#extraindo os dias
#df["tempo_envio"] =(df["Data envio"] - df)
df["tempo_envio"].dtype

In [ ]:


df.groupbygroupby("Marca")["tempo_envio"].mean()

In [35]:
# verificando os valores faltantes
df.isnull().sum()

Data Venda        0
Data Envio        0
ID Loja           0
ID Produto        0
ID Cliente        0
No. Venda         0
Custo Unitário    0
Preço Unitário    0
Quantidade        0
Valor Desconto    0
Valor Venda       0
Produto           0
Fabricante        0
Marca             0
Classe            0
Cor               0
Custo Total       0
Custo             0
Custo             0
lucro             0
tempo_envio       0
dtype: int64

In [36]:
#agrupar lucro por ano e pro marcar
df.groupby([df["Data Venda"].dt.year,"Marca"])["lucro"].sum()

Data Venda  Marca
2008        Adventure Works    3.066412e+05
            Contoso            5.641600e+04
            Fabrikam           1.557021e+06
2009        Adventure Works    4.053951e+05
            Contoso            1.382590e+05
            Fabrikam           1.034091e+06
Name: lucro, dtype: float64

In [37]:
#resetando o index
lucro_ano = df.groupby([df["Data Venda"].dt.year,"Marca"])["lucro"].sum().reset_index()

In [38]:
lucro_ano

   Data Venda            Marca         lucro
0        2008  Adventure Works  3.066412e+05
1        2008          Contoso  5.641600e+04
2        2008         Fabrikam  1.557021e+06
3        2009  Adventure Works  4.053951e+05
4        2009          Contoso  1.382590e+05
5        2009         Fabrikam  1.034091e+06

In [40]:
#total de produtos vendidos
df.groupby("Produto")["Quantidade"].sum().sort_values(ascending=False)

Produto
Headphone Adapter for Contoso Phone E130 Silver    25232
Headphone Adapter for Contoso Phone E130 White     25008
Adventure Works Laptop15.4W M1548 Black             1089
Fabrikam Trendsetter 2/3'' 17mm X100 Grey           1087
Adventure Works Laptop15.4W M1548 Red               1047
Fabrikam Trendsetter 2/3'' 17mm X100 Black           926
Fabrikam Trendsetter 1/3'' 8.5mm X200 Black          884
Fabrikam Trendsetter 1/3'' 8.5mm X200 Grey           845
Fabrikam Trendsetter 1/3'' 8.5mm X200 White          789
Name: Quantidade, dtype: int64

In [ ]:
#passando para um garfico
df.groupby("Produto")["Quantidade"].sum().sort_values(ascending=False).plot.barh(title="Total de Produtos Vendidos", color="Magenta")
#plt.xlablel("total")
plt.ylablel("Produto");

In [43]:
df.to_csv("df_vendas_novo.csv",index=False)